*.swp
*.nes
*.nes.deb
*.nl
*.bin
*.built.asm
build.log
build.log.err
game/cstb/mem_labels.h
game/cstb/constants.h
game/data/characters/characters-index.asm
game/data/characters/sinbad/
game/data/characters/kiki/
game/data/tilesets/ruins.asm
game/extra_banks.asm
game/banks/data05_bank.asm
game/banks/data06_bank.asm
game/banks/data07_bank.asm
