*.swp
*.nes
*.nes.deb
*.dbg
*.nl
*.bin
*.built.asm
rescue.prg
build.log
build.log.err
deps/cc65/
deps/gcc-6502-bits/
deps/huffmunch/
deps/xa65-stb/
rescue_img/
game/cstb/mem_labels.h
game/cstb/constants.h
game/cstb/rainbow_constants.h
game/data/characters/characters-index.asm
game/data/characters/characters-data/
game/data/tilesets/ruins.asm
