*.swp
*.nes
*.nes.deb
*.dbg
*.nl
*.bin
*.built.asm
build.log
build.log.err
game/cstb/mem_labels.h
game/cstb/constants.h
game/cstb/rainbow_constants.h
game/data/characters/characters-index.asm
game/data/characters/characters-data/
game/data/tilesets/ruins.asm
